<div class='page-inner-contents'>
  <div class='page-inner-contents-header'>
    <h1>Coding Pals</h1>
    <br/>
    <p>It's a long and tough journey ahead</p>
    <p>Don't do it alone</p>
  </div>  

</div>
<div class='page-contents-description'>
    <p>No matter what courses or bootcamps you take or what projects you are working on, coding isn't easy</p>
    <p>Find someone to learn it with</p>
</div>