<p>Hey there!</p>
<p>
  Thanks for signing up. You are ready to join the community!
  Get started by updating your profile <%= link_to 'here', edit_profile_url(@user) %>.
</p>

Cheers, <br/>
Coding Pals