<h1>New Message</h1>

<%= simple_form_for @user_message, url: user_user_messages_path(@receipient) do |f| %>
  <%= f.input :message_title %>
  <%= f.input :message_description %>
  <%= f.submit 'Send', class: 'btn btn-success' %>
<% end %>