$blue : #00AEDB;
$green : #8DC53E;
$light-blue : #60C9E7;
$dark-brown : #605C50;
$grey : #7E7F81;
$footer-height: 60px;
$footer-height-mobile:60px;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: $blue;
  color: $dark-brown;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: -$footer-height;
  border-radius:0px;
}

.footer .container {
  padding:0;
  margin: 0;
}

.footer a {  
  color: white;
}

.footer p {
  text-align: right;
}

.footer a:hover {
  color: $grey;
  text-decoration: none;
}