$blue : #00AEDB;
$green : #8DC53E;
$light-blue : #60C9E7;
$dark-brown : #605C50;
$grey : #7E7F81;

.group-display-image {
  height: auto;
  width: 100%;
}

.group-owner-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.individual-group-owner {
  display: flex;
}

.group-owner-details {
  margin-left: 30px;
}

.individual-group-heading, .individual-group-details, .individual-group-owner, .individual-group-requests {
  border-bottom: 1px solid #cccccc;
  padding: 20px;
}

.individual-group-heading-details-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.individual-group-description {
  padding: 20px;  
}

.join-button {
  margin-left: 20px;
}

.individual-group-details h3 {
  margin-top: 0px;
}

.current-group-contents h1 {
  color: $dark-brown;
}

.current-group-contents h2 {
  color: $green;
}

.individual-group-request {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #cccccc;  
}

.group-request-buttons a {
  margin: 10px;
  margin-left: 0px;
}

.requestor-profile-link {
  color: $blue;  
}

.requestor-profile-link:hover {
  color: $light-blue;  
  text-decoration: none;
}

.group-user-profile-link {
  color: black;
}

.group-user-profile-link:hover {
  color: black;
  text-decoration: none;
}