$blue : #00AEDB;
$green : #8DC53E;
$light-blue : #60C9E7;
$dark-brown : #605C50;
$grey : #7E7F81;

.groups-index-contents-inner {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.group-box {
  border: 3px solid #00AEDB;
  border-radius: 10px;
  width: 300px;
  margin: 30px;
  height: 450px;
  overflow: hidden;
}

.group-box:hover {
  box-shadow: 0px 0px 20px grey;
  border: none;
}

.group-box-link:hover {
  color: black;
  text-decoration: none;
}

.group-box-link {
  color: black;
}

.group-image {
  border-radius: 5px 5px 0px 0px;
  width: 300px;
  height: 200px;
}

.group-contents {
  margin-top: 10px;
  padding: 10px;
}

.group-members-image {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.group-heading h1, h2, h3 {
  margin: 0px;
}

.group-heading h1 {
  color: $dark-brown;
}

.group-heading h3 {
  color: $green;
}

.group-prereq {
  margin-top: 20px;
  border-bottom: 1px solid #cccccc;
}