$blue : #00AEDB;
$green : #8DC53E;
$light-blue : #60C9E7;
$dark-brown : #605C50;
$grey : #7E7F81;

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  font-family: 'Playfair Display', serif;
}

.page-contents {
  font-family: 'Playfair Display', serif;
}

.page-contents h1, h2, h3{
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  margin: 0px;
}

body p.alert {
  margin: 0px;
  border-radius: 0px;
}

// Fix simple form adding form-control to even checkbox inputs
.check_box input.form-control {
  float: left;
  width: auto;
  height: auto;
  margin-right: 10px;
}