$blue : #00AEDB;
$green : #8DC53E;
$light-blue : #60C9E7;
$dark-brown : #605C50;
$grey : #7E7F81;

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  font-family: 'Playfair Display', serif;
}